/* Header Style */

.main-header{
  max-width: 1440px;
  min-height: 538px;
  max-height: 1180px;
  background-image: url(../Images/montainBg.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.images-wrapper {
  max-width: 1440px;
  margin: auto;
}

.no-repeat-center {
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 200px;
}

.first-image {
  background-image: url(../Images/firstImage.jpg);
}

.second-image {
  background-image: url(../Images/secondImage.jpg);
}

.third-image {
  background-image: url(../Images/thirdImage.jpg);
}

.forth-image {
  background-image: url(../Images/forthImage.jpg);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2px;
  column-gap: 2px;
}

header ul,
footer ul {
  padding: 0;
  font-size: 0;
  display: inline-block;
}

header ul  li {
  font-size: 15px;
  color: white;
  display: inline-block;
  background-color: grey;
}

.nav-menu {
  padding-top: 83px;
  justify-content: center;
}

.list-menu{
  width: 980px;
  height: 36px;
  justify-content: space-between;
}

.list-menu > li {
    flex: 1;
}

/* Footer Style */

footer {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  width: 940px;
  font-size: 10px;
  color: #6e6e6e;
  margin: 30px auto;
  line-height: 16px;
}

footer ul > li {
  font-size: 10.5px;
  display: inline-block;
  margin-left: 0.6em;
  padding-left: 0.6em;
  border-left: solid 1px #ccc;
}

footer a {
  text-decoration: none;
  color: #08c;
}

footer .first {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

footer a:hover {
  text-decoration: underline;
}

.flag-icon {
  height: 13px;
}

.flag-link {
  height: 16px;
  width: 16px;
  position: relative;
  top: -2px;
}

.last-footer-line {
  padding-top: 15px;
}